/* index Page */

#indexPage {
  text-align: center;
}
.navbar {
  background-color: white;
  filter: brightness(100%);
}
.techIcon {
  padding-left: 1rem;
  height: 2rem;
}
.navbar-nav {
  padding-right: 2rem;
}
.nav-item,
.signIn {
  font-weight: bold;
  margin: auto 10px auto;
}
.signIn {
  padding-right: 12px;
  border-radius: 10px;
  border: 3px solid rgba(41, 147, 182, 0.966);
}

#home{
  background-image: url("./images/titleBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login {
  border-radius: 18px;
}
.con1 {
  background: rgba(0, 0, 0, 0.45);
}
.welcome {
  padding-top: 2rem;
  font-weight: bold;
  color: white;
}
.maintitle {
  font-size: 3.5rem;
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(133, 216, 241);
}
.titlepara {
  font-size: 18px;
  margin: auto 8%;
  color: white;
}
.login {
  border: 3px solid rgba(53, 108, 126, 0.966);
  color: white;
  margin: 4rem auto 6rem;
}
.login:hover,
.signIn:hover,
.startNow:hover {
  color: white;
  background: linear-gradient(rgba(53, 108, 126, 0.966), rgb(181, 221, 235));
}
.course1,
.course2 {
  background-color: white;
}
.course1 {
  padding: 15px;
}
.imageAlignLeft {
  float: left;
  padding-right: 15px;
}
.tute {
  color: rgb(23, 151, 202);
  font-size: small;
}
.learnreact {
  font-weight: bold;
}
.learnreact1 {
  font-weight: bold;
  font-size: small;
}
.reactfooter {
  display: block;
  font-size: smaller;
  color: grey;
  line-height: 2.5;
}
.course2 {
  padding-bottom: 5px;
  text-align: left;
  width: 20rem;
  position: absolute;
  right: 5%;
  top: 81%;
}
.course2a {
  padding: 15px;
}
.tutecourse {
  padding-top: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.coursetitle {
  font-size: xx-large;
  color: rgb(13, 129, 175);
  font-weight: bold;
  padding-bottom: 15px;
}
.courseRow {
  margin: auto 10% auto 10%;
}
.courselogo {
  padding-top: 20px;
}
.courselogo h6 {
  color: rgb(107, 102, 102);
}
.con2 {
  margin: 3rem auto;
  background-color: rgba(191, 217, 224, 0.884);
  width: 95%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.featureHead {
  padding: 2rem;
  color: rgb(58, 156, 185);
  font-weight: bold;
  padding-bottom: 3rem;
}
.features {
  color: rgb(63, 55, 55);
  padding: 1rem;
}
#About {
  padding-top: 3rem; /*
  padding-bottom: 4rem; */
}
.aboutMain {
  font-weight: bold;
}
.imageBox {
  display: inline-block;
  height: 250px;
  width: 300px;
  border: 8px solid grey;
}
.aboutUsimage {
  position: relative;
  top: 10%;
  left: 20%;
  box-shadow: 8px 8px 18px grey;
}
.aboutHead {
  font-weight: bold;
  padding-top: 3rem;
}
hr {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}
.Aboutcontent {
  display: inline-block;
  width: 50%;
}
.aboutContain {
  margin: 3rem auto 5rem;
}
#takeAction {
  background-image: url('./images/Action.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:95%;
  margin: auto;
}
.takeActionContent{
 background: rgba(0, 0, 0, 0.30);
 padding-top: 5rem;
 padding-bottom: 5rem;
}
.takeActionHead {
  color: rgb(133, 216, 241);
  font-weight: bold;
}
.actionPara {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1.5rem;
}
.startNow {
  color: white;
  border-radius: 18px;
  border: 3px solid rgba(41, 147, 182, 0.966);
}
#footer{
  padding-top:5rem;
}
#footer h5{
  color:rgb(13, 129, 175);
  padding-bottom: 2rem;
}
.footer-icon{
  padding: 0.9rem;
}
#footer p{
  color:grey;
  line-height: 2;
  padding: 1rem;
  padding-bottom: 2rem;
}
.copyright{
  text-align: center;
  color:grey;
  font-size: smaller;
}

@media (min-width: 950px) {
  .signIn {
    position: absolute;
    right: 1rem;
    bottom: 3px;
  }
  .titlepara {
    margin: auto 28%;
  }
  .course1 {
    text-align: left;
    width: 40rem;
    position: absolute;
    left: 30%;
    top: 81%;
  }
  .tutecourse {
    margin-top: 15rem;
  }
  .imageAlign {
    float: left;
    padding-right: 15px;
  }
  .aboutHead {
    text-align: left;
    padding-bottom: 1rem;
  }
  .aboutPara {
    text-align: left;
  }
  .outerbox {
    float: left;
    margin: auto 1rem auto 3rem;
  }
  #takeAction {
    margin-top: 6rem;
  }
}

@media (max-width: 900px) {
  .course1 {
    padding-top: 3rem;
  }
  .course2 {
    display: none;
  }
  .inneraboutPara {
    display: none;
  }
  .aboutPara {
    margin: auto 10%;
  }
  .aboutUsimage {
    position: relative;
    left: 13%;
  }
  .Aboutcontent {
    width:90%;
  }
}


/* Login Page */
#loginPage{
  background:linear-gradient(90deg, rgb(230, 241, 245) 70%, rgb(226, 223, 223) 50%) ;
  color: grey;
  font-weight: bold;
}
.web-logo{
  width:2rem;
  margin: 1rem;
}
.cross-icon{
  position: absolute;
  right: 0;
  margin: 7px;
  color: rgb(33, 99, 221);
}
.maincontainer{
  background-color: white;
  margin:auto 10% auto 10%;
  border-radius:15px;
}
.container-1{
  text-align: left;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
form{
  width:50%;
  margin:auto;
}
.input-container1 {
  padding-top: 2rem;
}
.input-container2{
  position: relative;
}
.fa-eye, .fa-eye-slash{
  position: absolute;
  right:0.5rem;
  top:10px;
}
.container3 , .container4{
  position: relative;
  padding-bottom: 1.5rem;
  color: grey;
  font-size: smaller;
}
a{
  text-decoration: none;
}
.forgotPass{
  color: grey;
  position: absolute;
  right: 1rem;
}
.login-button{
  border-radius: 5px;
  width: 100%;
  color: white;
}
.login-button:hover{
  background-color: rgb(68, 129, 241);
  color: white;
}
.fa-google{
  background: conic-gradient(
    from -45deg,
    #ea4335 110deg,
    #4285f4 90deg 180deg,
    #34a853 180deg 270deg,
    #fbbc05 270deg
  )    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.loginGoogle-button{
  color: grey;
  width: 100%;
}
.container-2{
  position: relative;
}
.cont2image{
 width: 100%;
 height: 100%;
}
.cont2text{
  position: absolute;
  top:40%;
  color: black;
  font-weight: bold;
  padding:1.5rem;
  background: rgba(100,100,100,0.5);

}
#footer2{
  color: grey;
  font-weight: normal;
  padding-top:2rem;
}
@media (max-width:900px){
    .container-2{
      display: none;
    }
    .maincontainer{
      margin: auto 2% auto 2%;
    }
    form{
      width: 100%;
    }
}